.layout {
  height: 100%;
  overflow: hidden;
  :global .ant-layout-header {
    background-color: rgba(247, 252, 246, 0.95);
    box-shadow: 0 1px 10px 1px rgb(0 0 0 / 12%);
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    z-index: 10;
  }

  :global .ant-layout-sider {
    background: #eaeaea;
    padding: 12px;
  }

  :global .ant-layout-footer {
    padding: 12px;
  }

  .content {
    padding: 24px;
    overflow: auto;
  }
}
