.footer {
  padding: 18px 50px;
  background: #fff;
  border-top: 1px solid #ccc;
}

.center {
  text-align: center;
}

.switchIcon {
  font-size: 28px;
  padding: 12px;
  color: rgb(236, 65, 65);
}

.playIcon {
  font-size: 32px;
}
