.footer {
  padding: 18px 50px;
  background: #fff;
  border-top: 1px solid #ccc;
}

.center {
  text-align: center;
}

.songPic {
  height: 48px;
  border-radius: 10px;
}

.songName {
  padding-left: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.switchIcon {
  font-size: 28px;
  padding: 12px;
  color: rgb(236, 65, 65);
}

.playIcon {
  font-size: 32px;
}
