$selectedColor: #dcdcdc;

.sider {
  overflow: auto;
}

.nickName {
  margin-left: 12px;
}

.menuTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 32px;
  line-height: 32px;
  margin-top: 24px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $selectedColor;
  }
}

.menuSelected {
  font-size: 18px;
  font-weight: bold;
  background-color: $selectedColor;
}

.userPlayList {
  margin-top: 12px;

  &-mainTitle {
    font-size: 16px;
    color: #666;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &-listTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 32px;
    line-height: 32px;
    cursor: pointer;

    &:hover {
      background-color: $selectedColor;
    }
  }

  &-selected {
    background-color: $selectedColor;
  }

  &-listIcon {
    padding-right: 8px;
  }
}
