@import url('antd/dist/reset.css');
@import url('slick-carousel/slick/slick.css');
@import url('slick-carousel/slick/slick-theme.css');

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
