.content {
  margin-top: 60px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.icon {
  vertical-align: bottom;
}

.pic {
  width: 100%;
  border-radius: 10px;
  margin-top: 18px;
}

.name {
  margin-top: 12px;
}
